---
import Layout from "../layouts/Layout.astro"
import Worker from "../components/Worker.astro"

import { CEO, COCEO, INTERIMCEO, WORKERS } from "../data/about"
---

<Layout>
    <main class="flex flex-col items-center text-center mb-5">
        <h1 class="text-5xl font-bold mt-7">FILE NINETEEN STUDIOS</h1>
        <p class="mt-5 font-normal text-gray-700 dark:text-gray-400">Development Videogames Studio.</p>

        <h1 class="text-4xl font-bold mt-7 mb-5">FORMER</h1>
        <h1 class="text-3xl font-bold mb-5">CEO</h1>
        <div class="flex flex-row gap-7 max-w-[800px]">
            {
                CEO.map(ceo => (
                    <Worker worker={ceo} />
                ))
            }
        </div>
        <h1 class="text-3xl font-bold mt-5 mb-5">CO-CEOs</h1>
        <div class="flex flex-row gap-7 max-w-[800px]">
            {
                COCEO.map(coceo => (
                    <Worker worker={coceo} />
                ))
            }
        </div>
        <h1 class="text-3xl font-bold mt-5 mb-5">Interim CEO</h1>
        <div class="flex flex-row gap-7 max-w-[800px]">
            {
                INTERIMCEO.map(interimceo => (
                    <Worker worker={interimceo} />
                ))
            }
        </div>    
        <h1 class="text-3xl font-bold mt-5 mb-5">Workers</h1>
        <div class="flex flex-row flex-wrap justify-center items-center gap-7 max-w-[900px]">
            {
                WORKERS.map(worker => (
                    <Worker worker={worker} />
                ))
            }
        </div>
    </main>
</Layout>