---
import Next from "./Icons/Next.astro";
import Previous from "./Icons/Previous.astro";

const currentPath = Astro.url.pathname;

const IMAGES = [
    {
        src: "/image1.png",
        alt: "Image",
        to: "0",
        current: true
    },
    {
        src: "/image2.png",
        alt: "Image",
        to: "1"
    },
    {
        src: "/image3.jpg",
        alt: "Image",
        to: "2"
    },
]
---

{currentPath === "/games/" ? 
    (<div class="absolute z-[1000] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <button class="text-gray-900 bg-white border border-gray-300 font-medium rounded-full text-5xl px-8 pt-5 pb-7 dark:bg-gray-800 dark:text-white dark:border-gray-600">Creators of horror...</button>
    </div>) : ""
}

{currentPath === "/" ? 
    (<div class="absolute z-[1000] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <h1 class="text-7xl font-bold">FILE NINETEEN STUDIOS</h1>
    </div>) : ""
}

<div class="relative h-56 overflow-hidden md:h-[calc(100vh-60px)]">
    <img src="/image1.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Image"/>
</div>