---
import '../styles/global.css';
import Header from '../components/Header.astro';
import { ClientRouter } from 'astro:transitions';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>File Nineeten Studios</title>
		<ClientRouter/>
	</head>
	<body class="grid min-h-dvh grid-rows-[auto_1fr_auto]">
		<Header />
		<slot />
		<Footer />
		<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"></script>
		<script>
			import { initFlowbite } from "flowbite";

			document.addEventListener("astro:after-swap", () => {
				initFlowbite();
			});
		</script>
	</body>
</html>

<style>
	body {
		background-color: #231105;
		color: white;
		font-family: system-ui, sans-serif;
	}
</style>
